[submodule "convnets_vs_vi"]
	path = convnets_vs_vi
	url = https://github.com/myousif9/convnets_vs_vi
[submodule "JNP_WC_brightness"]
	path = JNP_WC_brightness
	url = https://github.com/alviur/JNP_WC_brightness
